@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(35, 72, 43);
  color: brown;
  text-align: center;
  margin-top: 100px;
}

#card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  
}

#filterbtn {
  display: flex;
  
}

.form-check {
  display: flex;
  justify-content: left;
  margin-block-end: auto;
  padding-block-end: 10px;
  color: white;
}
